@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgb(48, 150, 137);
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --primary-bg-color: #000;
  --sub-text-color: #f8f9fa;
  --background-primary: rgba(48, 150, 131, 0.1);
  --sub-color: #6c757d;
}

* {
  font-family: "Figtree", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* -------------Backgrounds---------------- */
.homepage-Background {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: grid;
  grid-area: homepage-background;
  grid-template-rows: auto 1fr auto;
}

.Background {
  background-color: var(--primary-bg-color);
}

/*------------------------Common elements--------------------------*/
.page-content {
  padding: 50px 72px;
}
.basic-title {
  font-size: 50px;
  color: var(--secondary-text-color);
  font-weight: 600;
  margin: 0;
}
.small-text {
  font-size: 16px;
  color: var(--secondary-text-color);
  padding: 0;
  padding-top: 20px;
  margin: 0;
}
.paragraph {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.basic-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
}
.view-all {
  color: var(--primary-color);
  font-size: 24px;
}
.secondary-title {
  color: var(--secondary-text-color);
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.secondary-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  margin: 0;
  opacity: 0.5;
  padding: 0;
}
@media (max-width: 768px) {
  .page-content {
    padding: 30px 20px;
  }
  .basic-title {
    font-size: 28px;
  }
  .secondary-title {
    font-size: 28px;
  }
  .secondary-text {
    font-size: 12px;
  }
}
/*----------Header-------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 72px;
}

.header-logo,
.header-menu,
.header-buttons {
  align-items: center;
  display: flex;
}

.header-logo ul,
.header-menu ul,
.header-buttons ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-logo li {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
}
.header-logo li h3 {
  font-size: 15px;
  font-weight: 500;
}

.header-logo #logo-mobile {
  display: none;
}

.header-logo img {
  display: block;
}

.header-logo ul {
  gap: 10px;
}

.header-menu li a {
  color: var(--primary-text-color);
  font-size: 15px;
  opacity: 0.5;
  text-decoration: none;
}
.header-menu #this-page {
  font-weight: 600;
  opacity: 1;
}

.header-buttons li {
  align-items: center;
  display: flex;
}

.header-buttons li a {
  color: var(--primary-text-color);
  font-size: 15px;
  padding-right: 10px;
  text-decoration: none;
}

/*---------------Footer------------------------------*/

.footer {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  grid-area: footer;
  gap: 20px;
  padding: 52px 72px;
}

.footer-up {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 2fr;
}

.footer-job ul,
.footer-company ul,
.footer-categories ul,
.footer-legal ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-company a,
.footer-categories a {
  color: var(--primary-text-color);
  font-size: 15px;
  opacity: 0.8;
  text-decoration: none;
}

/* footer job  */
.footer-job ul {
  align-items: center;
  display: flex;
  justify-content: start;
  margin: 0;
}

.footer-job {
  font-size: 20px;
  font-weight: 600;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.footer-job p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  margin: 0;
}

.footer-job h3 {
  font-size: 20px;
  margin: 0;
}

.footer-job ul li {
  padding-right: 10px;
}

/* footer company  and categories*/
.footer-company,
.footer-categories {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.footer-company h3,
.footer-categories h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.footer-company ul li,
.footer-categories ul li {
  font-size: 16px;
  padding: 1% 0;
}

/* footer newsletter */
.footer-newsletter {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.footer-newsletter h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.footer-newsletter p {
  font-size: 14px;
  margin: 0;
  opacity: 0.8;
}
.footer-newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-newsletter input {
  background-color: transparent;
  border: 1px solid --primary-text-color;
  border-radius: 12px;
  box-shadow: none;
  color: var(--primary-text-color);
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}
.footer-newsletter button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px;
}

.footer-down {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer-legal ul {
  display: flex;
  gap: 10px;
}
.footer-legal a {
  color: var(--primary-text-color);
  font-size: 12px;
}
.footer-copyrigth {
  font-size: 12px;
  opacity: 0.5;
}
/*----------------Main from homepage-----------------------*/

.homepage-main {
  display: grid;
  grid-template-areas: "homepage-background" "homepage-recent-jobs" "homepage-categories" "homepage-additional-content" "homepage-testimonials" "homepage-news-blog" "footer";
}
/* -------------------Principal page---------------------- */

.homepage-principal-search {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 190px);
  justify-content: center;
  padding: 20px 20px 0 20px;
  text-align: center;
}
.homepage-principal-search h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}
.homepage-principal-search h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-top: 12px;
}

.homepage-principal-search-form {
  margin-top: 20px;
  display: flex;
}
.homepage-principal-search-form .bar {
  align-items: center;
  background: var(--primary-text-color);
  border-radius: 16px;
  border: none;
  display: flex;
  overflow: hidden;
}
.homepage-principal-search-form .firstpart-bar {
  display: flex;
  padding: 10px 0;
}
.firstpart-bar input {
  border: none;
  outline: none;
  padding: 5px;

  text-align: center;
}
.firstpart-bar select {
  background-color: var(--primary-text-color);
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  outline: none;
  opacity: 0.5;
  padding: 5px;
  margin-right: 20px;
  text-align: start;
}
.homepage-principal-search-form .secondpart-bar {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.homepage-principal-search-form .secondpart-bar button {
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  padding: 10px 20px;
}
.secondpart-bar button img {
  height: 15px;
  padding: 0;
  margin: 0;
  width: 15px;
}

.homepage-principal-search-stats {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  width: 100%;
}
.homepage-principal-search-stats ul {
  align-items: center;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.homepage-principal-search-stats .circle {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-principal-search-stats li {
  display: flex;
  align-items: center;
}
.homepage-principal-search-stats .stats-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.homepage-principal-search-stats .stats-info h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}
.homepage-principal-search-stats .stats-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.homepage-principal-companies {
  background-color: var(--primary-bg-color);
  box-sizing: border-box;
  padding: 20px 10%;
}

.homepage-principal-companies ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* ------------Recent Jobs----------------- */
.homepage-recent-jobs {
  display: flex;
  flex-direction: column;
  grid-area: homepage-recent-jobs;
}
.homepage-recent-jobs-head {
  position: relative;
}
.homepage-recent-jobs-head a {
  position: absolute;
  bottom: 0;
  right: 0;
}
#mobile-view-all {
  display: none;
}
.cardlist {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-job {
  box-shadow: 5px 2px 5px rgba(48, 150, 137, 0.1);
  border-radius: 20px;
  padding: 35px;
}
.card-job .first-row {
  display: flex;
  justify-content: space-between;
}
.first-row .cover {
  display: flex;
  background-color: rgba(48, 150, 137, 0.1);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 0 5px;
  margin: 0;
  align-items: center;
}
.first-row .cover p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.card-job .second-row {
  display: flex;
  padding: 10px 0;
}
.second-row .companyinfo {
  padding-left: 20px;
}
.companyinfo h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 600;
}
.companyinfo p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.card-job .third-row {
  display: flex;
  justify-content: space-between;
}
.third-row ul {
  display: flex;
  list-style: none;
  padding: 10px 0;
}
.third-row ul li {
  display: flex;
  align-items: center;
  text-align: center;
}
.third-row ul li img {
  width: 17px;
  height: 17px;
}
.third-row ul li p {
  margin: 0;
  padding: 0 15px;
  font-size: 14px;
  opacity: 0.5;
}

/* -----------------Homepage Categories----------------- */
.homepage-categories {
  background-color: var(--background-primary);
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: homepage-categories;

  padding: 50px 72px;
}
.homepage-categories header {
  align-items: center;
  text-align: center;
}
.homepage-categories ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style: none;
  width: 100%;
}

.homepage-categories a {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.homepage-categories .categorycard {
  background-color: var(--primary-text-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.categorycard .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 10%;
  padding: 0;
  text-align: center;
}

.categorycard img {
  height: 40px;
  width: 40px;
}

.categorycard h3 {
  color: var(--secondary-text-color);
  font-size: 20px;
  margin: 0;
  padding: 30px 0;
}

.categorycard .jobcover {
  background-color: var(--background-primary);
  border-radius: 8px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.jobcover p {
  color: var(--primary-color);
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

/*----------------additional-content----------------- */
.homepage-additional-content {
  display: flex;
  grid-area: homepage-additional-content;
  flex-direction: column;
}
.homepage-additional-content-principal {
  padding: 0 0 80px 0;
  display: grid;
  gap: 60px;
  grid-template-columns: auto 1fr;
}
.additional-image img {
  height: 100%;
  max-height: 494px;
  max-width: 530px;
  width: 100%;
}
.homepage-additional-content-principal .information {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 86px 0 0;
}

.information ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.information ul a {
  display: unset;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}
.homepage-additional-content-stats ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 0 0 60px 0;
}
.homepage-additional-content-stats li {
  max-width: 300px;
}
.homepage-additional-content-stats li h2 {
  color: var(--primary-color);
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.homepage-additional-content-stats h3 {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
}
.homepage-additional-content-stats p {
  color: var(--secondary-text-color);
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.bannerBackground {
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}
.banner-info {
  color: var(--primary-text-color);
  margin: 0;
  padding: 10% 0 15% 10%;
}
.banner-info h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.banner-info p {
  font-size: 12px;
  margin: 0;
  padding: 20px 0;
}

.banner-image img {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/*--------------------------Testimonials---------------------------*/
.homepage-testimonials {
  align-items: center;
  background-color: var(--background-primary);
  grid-area: homepage-testimonials;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.homepage-testimonials header {
  padding: 0;
  margin: 0;
  text-align: center;
}
.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
}
.testimonials-cards li {
  background-color: var(--primary-text-color);
  display: grid;
  border-radius: 20px;
  grid-template-rows: auto 2fr 1fr;
  gap: 10px;
  padding: 15%;
}
.stars img {
  max-height: 24px;
  max-width: 152px;
  width: 75%;
}
.testimonial-info h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 0 0;
  padding: 0;
}
.testimonial-info p {
  font-size: 14px;
  margin: 0;
  padding: 20px 0 0 0;
}
.testimonial-user {
  align-items: center;
  display: flex;
  position: relative;
}
.testimonial-user .Avatar {
  border-radius: 50px;
  width: 64px;
  height: 64px;
}
.testimonial-username {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
}
.testimonial-username h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.testimonial-username p {
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  opacity: 0.5;
  padding: 0;
}
.Quotes {
  position: absolute;
  top: 0;
  right: 0;
}

/*--------------------------- News and Blog------------------------*/
.homepage-news-blog {
  grid-area: homepage-news-blog;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.homepage-news-blog header {
  position: relative;
}
.homepage-news-blog header a {
  bottom: 0;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 0;
}
.homepage-news-blog ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.news-blog-card {
  margin-top: 30px;
}
.news-blog-card-image {
  position: relative;
}
.news-blog-card-image .cover {
  margin: 20px;
  position: absolute;
  top: 0;
}
.news-blog-card-image img {
  border-radius: 20px;
  width: 100%;
}
.news-blog-card-image .cover button {
  border: none;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
}
.news-blog-card p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  opacity: 0.5;
}
.news-blog-card h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.news-blog-card a {
  color: var(--primary-color);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
}

/*---------------Jobs page------------------*/
#job-title-mobile {
  display: none;
}
.find-job {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 20px;
  max-width: 100%;
}
.filter-button {
  display: none;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filters nav {
  background-color: var(--background-primary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.nav-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}
.nav-search-bar {
  border-radius: 12px;
  background-color: var(--primary-text-color);
  display: flex;
  padding: 5px 12px;
  align-items: center;
  margin-bottom: 10px;
}
.nav-search-bar input {
  border: none;
  font-size: 14px;
  height: 100%;
  outline: none;
  padding-left: 10px;
}
.nav-search-bar select {
  background-color: transparent;
  border: none;
  font-size: 14px;
  height: 100%;
  outline: none;
  opacity: 0.5;
  padding-left: 10px;
  width: 100%;
}
.category-button {
  width: 100%;
  margin: 10px 0;
}
.nav-selection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-selection li {
  display: flex;
  height: auto;
  position: relative;
  font-size: 16px;
}
.nav-selection li input[type="checkbox"] {
  appearance: none;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--sub-color);
  box-shadow: none;
  height: 16px;
  -moz-appearance: none;
  margin-right: 5px;
  width: 16px;
  -webkit-appearance: none;
}
.nav-selection li input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}
.nav-selection .selection-tag {
  background-color: var(--primary-text-color);
  border-radius: 12px;
  color: var(--sub-color);
  position: absolute;
  padding: 0 5px;
  right: 0;
}
.slider {
  padding: 10px 0;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  color: var(--primary-color);
}
.salary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.salary h2 {
  font-size: 16px;
  margin: 0;
}
.salary button {
  padding: 5px 15px;
}
.tags-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags-list li {
  display: inline-grid;
}
.tagcover {
  background-color: rgba(48, 150, 137, 0.1);
  border: none;
  border-radius: 12px;
  text-align: center;
  width: min-content;
  padding: 0 5px;
}
.tagcover a {
  color: var(--primary-color);
  font-size: 16px;
  text-decoration: none;
}
.hiring {
  position: relative;
}
.hiring img {
  width: 100%;
  border-radius: 12px;
}
.hiring-texts {
  position: absolute;
  padding: 20px;
  top: 0;
}
.hiring-texts h1 {
  color: var(--primary-text-color);
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.hiring-texts p {
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.results-and-sort {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.results-and-sort select {
  background-color: var(--primary-text-color);
  border-radius: 6px;
  border: solid 1px var(--secondary-text-color);
  color: var(--secondary-text-color);
  padding: 5px 15px 5px 0;
  opacity: 0.5;
  outline: none;
  text-align: start;
}
.page-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.page-buttons button {
  border-radius: 8px;
  border: solid 1px var(--sub-color);
  background-color: var(--primary-text-color);
  color: var(--sub-color);
  font-size: 18px;
  text-align: center;
  padding: 0;
  width: 24px;
  height: 24px;
}
#in-page {
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
.page-buttons .next {
  position: absolute;
  right: 0;
}
.next button {
  width: auto;
  height: auto;
  padding: 2px 10px;
}
.next button img {
  width: 12px;
  height: 12px;
}
.jobs-main .homepage-categories ul {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: unset;
}
.categorycard .company-title {
  padding: 0;
}
.categorycard .company-paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
}
/*-------------Job details page------------------------------*/
#mobile-card {
  display: none;
}
.job-details-principal .card-job-principal {
  box-shadow: none;
  padding: 0;
}
.job-details-principal .card-job .apply-button {
  padding: 10px 90px;
}
.basic-information article {
  padding-bottom: 20px;
}
.job-details-information {
  display: grid;
  grid-template-columns: 2.7fr 1fr;
  gap: 20px;
}
.information-title {
  font-size: 24px;
  margin: 0;
}
.list-of-skills {
  list-style: none;
  padding: 0;
}
.list-of-skills li {
  display: flex;
  gap: 10px;
}
.job-details-tags {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.job-details-tags-cover {
  background-color: var(--background-primary);
  border-radius: 12px;
  display: flex;
  justify-content: center;
}
.job-details-tags-cover p {
  color: var(--primary-color);
  margin: 0;
  padding: 10px;
}
.share-job {
  align-items: center;
  display: flex;
}
.share-job ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.share-job h1 {
  font-size: 20px;
  padding-bottom: 5px;
  margin: 0 10px 0 0;
}
.job-overview,
.send-us-message {
  background-color: var(--background-primary);
  border-radius: 20px;
  padding: 20px;
}
.job-overview h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}
.job-overview ul {
  list-style: none;
  padding: 0;
}
.job-overview li {
  display: flex;
  gap: 10px;
}
.job-overview li h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.job-overview li p {
  color: var(--sub-color);
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.job-overview-map iframe {
  border-radius: 12px;
  max-height: 266px;
}
.send-us-message {
  margin-top: 40px;
}
.send-us-message h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.send-us-message form {
  margin: 24px 0 0 0;
}
.form-bar {
  border-radius: 12px;
  background-color: var(--primary-text-color);
  display: flex;
  margin: 10px 0;
}
.form-bar img {
  margin-left: 10px;
}
.form-bar input {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0 15px;
}
.form-bar {
  align-items: start;
  padding: 5px 0;
}
.form-bar textarea {
  border: none;
  min-height: 100px;
  outline: none;
  padding: 0 15px;
}
.send-us-message button {
  margin: 20px 0 10px 0;
}
/*------------- Contact Page ------------*/

.pages-header-large-title {
  padding-top: 60px;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  text-align: center;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.pages-main-container {
  margin: 52px 72px;
}

.contact-main-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.contact-main-section-info {
  width: 50%;
}

.contact-main-section-info-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact-main-section-info-title-description {
  font-size: 14px;
  margin-bottom: 40px;
}

.contact-main-section-info-unorderlist {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-between;
}

.contact-main-section-info-unorderlist li {
  width: 250px;
  height: 135px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.contact-main-section-info-unorderlist li img {
  height: 22px;
  width: 22px;
}
.contact-main-section-info-unorderlist-list-title {
  font-size: 20px;
  font-weight: 600;
}

.contact-main-section-info-unorderlist-list-p {
  font-size: 14px;
}

.contact-main-section-form {
  width: 40%;
  background-color: #ebf5f4;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 15px;
}

.contact-main-section-form-information {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10%;
  align-items: center;
}

.contact-main-section-form-information-title {
  font-size: 28px;
  font-weight: 600;
}

.contact-main-section-form-information-title-description {
  font-size: 16px;
}

.contact-main-section-form-initial {
  background-color: #ebf5f4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.contact-main-section-form-group {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-flow: column;
}
.contact-main-section-form-group input {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.contact-main-section-form-group textarea {
  height: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.contact-main-section-form button {
  width: 50%;
  height: 40px;
  background-color: #309689;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 7%;
  transition: 0.3s ease;
}

.contact-main-section-form button:hover {
  background-color: #257a6e;
}

.contact-main-section-business {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.contact-map {
  border-radius: 20px;
}

/* ----------------  About us Page ----------------  */
.about-first-section-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 40px;
  align-items: flex-start;
  padding: 20px;
  flex-flow: row wrap;
}

.about-first-section-title,
.about-first-section-paragraph {
  flex: 1;
  min-width: 300px;
  margin: 0;
  padding: 0;
}

.about-first-section-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.about-first-section-paragraph {
  font-size: 0.95rem;
}

.about-first-section-img {
  width: 100%;
  margin-bottom: 60px;
}

.about-second-section-title {
  margin-top: 60px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.about-second-section-paragraph {
  text-align: center;
  margin-bottom: 100px;
}

.about-second-section-unorderlist {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 120px;
  margin-left: 0;
  padding-left: 0;
}

.about-second-section-unorderlist li {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 240px;
  height: 180px;
  border-radius: 12px; /* Bordes redondeados */
  padding: 25px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06); /* Sombra suave */
  transition: transform 0.2s ease-in-out;
}

.about-second-section-unorderlist li:hover {
  transform: translateY(-5px);
}

.about-second-section-unorderlist li p {
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.about-third-section {
  background-image: url(/images/about-image-two.png); /* URL de la imagen */
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 700px;
  position: relative;
}

.about-third-section-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.about-third-section-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 550px;
  min-width: 100px;
}

.about-third-section-information-img {
  height: 80px;
  width: 80px;
}

.about-third-section-information-p {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.about-third-section-information-unorderlist {
  padding: 40px 40px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  background-color: #000000;
  border-radius: 20px;
  gap: 20px;
  justify-content: space-between;
}
.about-third-section-information-unorderlist-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-third-section-information-unorderlist-main p {
  margin: 0;
  padding: 0;
}

.about-third-section-information-unorderlist li {
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-flow: row;
  width: 300px;
}

.about-third-section-information-unorderlist-num-container {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #ffffff;
}

.about-third-section-information-unorderlist-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.about-third-section-learn-more {
  color: var(--primary-color);
  font-size: 14px;
}

.about-fourth-section {
  margin-top: 120px;
}

.about-fourth-section-questions,
.about-fourth-section-question {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}
.about-fourth-section-questions {
  background-color: #ebf5f4;
  border-radius: 20px;
}
.about-fourth-section-question {
  border-bottom: 3px solid #ebf5f4;
}

.about-fourth-section-questions-text {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.about-fourth-section-questions-number {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 700;
}

.about-fourth-section-question-number {
  color: #6c757d;
  font-size: 28px;
  font-weight: 700;
  flex: 1;
}

.about-fourth-section-questions-text-title,
.about-fourth-section-question-title {
  font-size: 24px;
  font-weight: bold;
  flex: 45;
}

.about-fourth-section-questions-text-description {
  font-size: 16px;
}

.about-fourth-section-questions-text-img,
.about-fourth-section-question-image {
  width: 40px;
  height: 40px;
  flex: 1;
}

.about-fourth-section-questions-text p,
.about-fourth-section-question p {
  padding: 0;
  margin: 0;
}

.about-fourth-section-information-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  margin-bottom: 60px;
  align-items: center;
}

.about-fourth-section-title {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about-fourth-section-description {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.about-five-section {
  margin-top: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.about-five-section-images {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.about-five-section-images-container {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.about-five-section-information-container {
  max-width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.about-five-section-information-title {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about-five-section-information-description {
  font-size: 16px;
}

.about-five-section-information-unorderlist {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.about-five-section-information-unorderlist li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  width: 220px;
}

.about-five-section-information-unorderlist li p {
  font-size: 20px;
  font-weight: bold;
}

.about-five-section-information-unorderlist li img {
  width: 60px;
  height: 60px;
}

.about-sixth-section {
  display: flex;
  flex-flow: column;
  margin-top: 120px;
}

.about-sixth-section-information-container {
  display: flex;
  flex-flow: column;
  gap: 30px;
  align-items: center;
}

.about-sixth-section-information-title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.about-sixth-section-information-description {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.about-sixth-section-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about-sixth-section-content-container {
  display: flex;
  flex-direction: column;
}

.about-sixth-section-content-container-date {
  font-size: 16px;
}

.about-sixth-section-content-container-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 670px;
}

.about-sixth-section-content-container-extra {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.about-sixth-section-content-container-content {
  font-size: 16px;
  color: #309689;
}

.about-newcontent-information {
  margin: 52px 72px;
}

.about-newcontent-information-title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.about-newcontent-information-description {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.about-newcontent-information {
  display: flex;
  flex-flow: column;
  gap: 30px;
  align-items: center;
}

.about-last-section {
  margin-top: 0;
  padding-top: 0px;
}

/* ----------------------Mobile------------------------------------- */
@media (max-height: 600px) {
  .homepage-Background {
    height: 150dvh;
  }
  .homepage-principal {
    display: flex;
    justify-content: space-between;
  }
  .homepage-principal-search {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 950px) {
  /* header */
  .header {
    justify-content: space-between;
    padding: 0 20px;
  }
  .header-logo #logo-desktop {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-logo #logo-mobile {
    display: flex;
    align-items: center;
  }

  /*---------------------------Homepage principal-----------------------------------------*/
  .homepage-principal {
    padding-bottom: 40px;
  }
  .homepage-principal-search {
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
  }
  .homepage-principal-search h1 {
    font-size: 32px;
  }
  .homepage-principal-search .subtitle {
    opacity: 0.5;
  }
  .homepage-principal-search-form {
    height: auto;
    width: 100%;
  }
  .homepage-principal-search-form .bar {
    flex-direction: column;
    width: 100%;
    padding: 20px 20px;
    height: auto;
  }
  .firstpart-bar {
    flex-direction: column;
    width: 100%;
  }
  .firstpart-bar input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: start;
    opacity: 0.8;
  }
  .firstpart-bar select {
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 20px 0;
    width: 100%;
  }
  .homepage-principal-search-form .secondpart-bar {
    height: initial;
    padding: 20px 0;
    width: 100%;
  }
  .homepage-principal-search-form .secondpart-bar button {
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
  }
  .homepage-principal-search-stats {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
  }
  .homepage-principal-search-stats ul {
    justify-content: space-between;
    gap: unset;
  }
  .homepage-principal-search-stats ul .circle {
    width: 40px;
    height: 40px;
  }

  .homepage-principal-search-stats ul img {
    width: 20px;
    height: 20px;
  }
  .homepage-principal-search-stats .stats-info h3 {
    font-size: 14px;
  }
  .homepage-principal-search-stats .stats-info p {
    font-size: 12px;
  }
  .homepage-principal-companies {
    overflow-x: hidden;
    padding-right: 0;
  }
  .homepage-principal-companies ul {
    overflow-x: auto;
  }
  .homepage-principal-companies ul li {
    min-width: 150px;
  }
  /*------------------Recent Jobs---------------*/
  .homepage-recent-jobs-head {
    text-align: center;
  }
  .homepage-recent-jobs-head a {
    display: none;
  }
  .card-job {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card-job .second-row {
    display: unset;
  }
  .second-row .companyinfo {
    padding: 0;
  }
  .card-job .third-row {
    flex-direction: column;
    gap: 20px;
  }
  .card-job .third-row ul {
    flex-direction: column;
    gap: 20px;
  }
  #mobile-view-all {
    display: unset;
    text-align: center;
  }
  /*-----------Homepage-Categories-------------*/
  .homepage-categories ul {
    grid-template-columns: unset;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    padding: 0;
  }
  /*-------------Homepage additional content-----------*/
  .homepage-additional-content-principal {
    grid-template-columns: unset;
    grid-template-rows: auto;
    gap: 20px;
    padding: 0 0 20px 0;
  }
  .homepage-additional-content-principal .information {
    padding: 0;
    text-align: center;
  }
  .information ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  .information ul li {
    width: 100%;
  }
  .information ul button {
    width: 100%;
  }
  .information ul a {
    display: none;
  }
  .homepage-additional-content-stats ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 0 0 20px 0;
  }
  .homepage-additional-content-stats li h2 {
    font-size: 60px;
  }
  .homepage-additional-content-stats h3 {
    font-size: 24px;
  }
  .homepage-additional-content-stats p {
    font-size: 16px;
  }
  .bannerBackground {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "banner-image" "banner-info";
    padding: 20px 0;
  }
  .banner-image {
    grid-area: banner-image;
  }
  .banner-info {
    grid-area: banner-info;
    padding: 20px;
    text-align: center;
  }
  .banner-info h1 {
    font-size: 28px;
  }
  .banner-info p {
    font-size: 16px;
  }
  .banner-info button {
    width: 100%;
  }
  /*------------------Homepage Testimonials------------------*/
  .homepage-testimonials {
    overflow-x: hidden;
  }
  .testimonials-cards {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }
  .testimonials-cards li {
    min-width: 350px;
    padding: 20px;
  }
  /*---------Homepage news an blog-------------*/
  .homepage-news-blog {
    overflow-x: hidden;
    padding-right: 0;
  }
  .news-blog-content {
    overflow-x: hidden;
  }
  .homepage-news-blog header a {
    display: none;
  }
  .homepage-news-blog ul {
    display: flex;
    overflow-x: auto;
  }
  .homepage-news-blog li {
    min-width: 400px;
  }
  .news-blog-card p {
    font-size: 16px;
  }
  .news-blog-card h3 {
    font-size: 20px;
  }
  .news-blog-card a {
    font-size: 16px;
  }
  .news-blog-card-image img {
    min-height: 300px;
  }
  /*------------------Jobs page-----------------------*/
  #job-title-mobile {
    display: block;
  }
  #job-title-desktop {
    display: none;
  }
  .find-job {
    grid-template-columns: unset;
    grid-template-rows: repeat(2, auto);
  }
  .filter-button {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
  }
  .filter-button img {
    margin-left: 10px;
  }
  .results-and-sort select {
    border-radius: 0px;
    padding: 0 5px 0 0;
  }
  .page-buttons {
    justify-content: start;
  }
  .jobs-main .homepage-categories ul {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: unset;
  }
  /*--------------Job details---------------*/
  #mobile-card {
    display: list-item;
  }
  #desktop-card {
    display: none;
  }
  .job-details-information {
    display: flex;
    flex-direction: column-reverse;
  }
  .job-details-tags {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .job-overview li {
    margin-bottom: 10px;
  }
  /* ---------- Contact Page --------- */
  .contact-main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-main-section {
    flex-flow: column nowrap;
    gap: 20px;
  }
  .contact-main-section-info {
    width: 100%;
  }

  .contact-main-section-info-title {
    font-size: 24px;
    text-align: center;
  }
  .contact-main-section-info-title-description {
    font-size: 12px;
    text-align: center;
  }

  .contact-main-section-info-unorderlist {
    justify-content: center;
  }

  .contact-main-section-info-unorderlist li {
    align-items: center;
  }

  .contact-main-section-form {
    width: 78%; /* Asegura que el formulario ocupe todo el ancho disponible */
  }

  .contact-main-section-form-initial {
    flex-flow: column wrap;
  }

  .contact-main-section-form button {
    width: 100%;
  }

  .contact-main-section-business {
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan en pantallas pequeñas */
    overflow-x: auto; /* Habilita el scroll horizontal */
    display: flex;
    width: 88vw;
    gap: 20px;
  }

  /* ----------About Page----------- */
  .about-first-section-title {
    text-align: center;
  }

  .about-first-section-paragraph {
    text-align: center;
  }

  .about-second-section-unorderlist {
    justify-content: center;
  }

  .about-fourth-section-title {
    text-align: center;
  }

  .about-fourth-section-description {
    text-align: center;
  }

  .about-five-section {
    display: none;
  }

  .about-newcontent-information-title {
    text-align: center;
  }

  .about-newcontent-information-description {
    text-align: center;
  }

  .about-third-section-information-p {
    font-size: 28px;
  }

  .pages-main-container {
    margin: 40px 20px;
  }

  .about-newcontent-information {
    margin: 40px 20px;
  }
  /* footer */
  .footer {
    padding: 50px 20px 30px 20px;
  }
  .footer .footer-up {
    grid-template-columns: unset;
    grid-template-rows: 1fr;
  }
  .footer-job ul {
    justify-content: center;
  }
  .footer .footer-down {
    flex-direction: column-reverse;
  }
  .footer-down .footer-legal a {
    font-size: 16px;
  }
  .footer-company,
  .footer-job,
  .footer-categories,
  .footer-newsletter {
    padding-top: 20px;
    text-align: center;
  }
}
