@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgb(48, 150, 137);
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --primary-bg-color: #000;
  --sub-text-color: #f8f9fa;
  --background-primary: rgba(48, 150, 131, 0.1);
}

* {
  font-family: "Figtree", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* -------------Backgrounds---------------- */
.homepage-Background {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.Background {
  background-color: var(--primary-bg-color);
}

/*----------Header-------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 5px 5%;
}

.header-logo,
.header-menu,
.header-buttons {
  align-items: center;
  display: flex;
}

.header-logo ul,
.header-menu ul,
.header-buttons ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-logo li {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
}
.header-logo li h3 {
  font-size: 15px;
  font-weight: 500;
}

.header-logo #logo-mobile {
  display: none;
}

.header-logo img {
  display: block;
}

.header-logo ul {
  gap: 10px;
}

.header-menu li a {
  color: var(--primary-text-color);
  font-size: 15px;
  opacity: 0.5;
  text-decoration: none;
}
.header-menu #this-page {
  font-weight: 600;
  opacity: 1;
}

.header-buttons li {
  align-items: center;
  display: flex;
}
.header-buttons li button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  padding: 10px 20px;
  width: 101px;
}

.header-buttons li a {
  color: var(--primary-text-color);
  font-size: 15px;
  padding-right: 10px;
  text-decoration: none;
}

/*---------------Footer------------------------------*/

.footer {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  grid-area: footer;
  padding: 60px 80px 30px 40px;
}

.footer-up {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-job ul,
.footer-company ul,
.footer-categories ul,
.footer-legal ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-company a,
.footer-categories a {
  color: var(--primary-text-color);
  font-size: 15px;
  opacity: 0.8;
  text-decoration: none;
}

/* footer job  */
.footer-job ul {
  align-items: center;
  display: flex;
}

.footer-job {
  font-size: 20px;
  font-weight: 600;
  max-width: 350px;
}

.footer-job p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.footer-job h3 {
  font-size: 20px;
  margin: 0;
}

.footer-job ul {
  margin-bottom: 10px;
}

.footer-job ul li {
  padding-right: 10px;
}

/* footer company */
.footer-company,
.footer-categories,
.footer-newsletter {
  padding: 0 5px;
}
.footer-company h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.footer-company ul li {
  font-size: 16px;
  padding-bottom: 5px;
}

/* footer categories */
.footer-categories h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.footer-categories ul li {
  font-size: 16px;
  padding-bottom: 5px;
}
/* footer newsletter */
.footer-newsletter {
  max-width: 300px;
}
.footer-newsletter h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.footer-newsletter p {
  font-size: 14px;
  margin: 0;
  opacity: 0.8;
}
.footer-newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}
.footer-newsletter input {
  background-color: transparent;
  border: 1px solid --primary-text-color;
  border-radius: 12px;
  box-shadow: none;
  color: var(--primary-text-color);
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}
.footer-newsletter button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
}

.footer-down {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer-legal ul {
  display: flex;
  gap: 10px;
}
.footer-legal a {
  color: var(--primary-text-color);
  font-size: 12px;
}
.footer-copyrigth {
  font-size: 12px;
  opacity: 0.5;
}
/*----------------Main from homepage-----------------------*/

.homepage-main {
  display: grid;
  grid-template-areas: "header" "homepage-principal" "homepage-recent-jobs" "homepage-categories" "homepage-additional-content" "homepage-testimonials" "homepage-news-blog" "footer";
}
/* -------------------Principal page---------------------- */
.homepage-principal {
  grid-area: homepage-principal;
}
.homepage-principal-search {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 190px);
  justify-content: center;
  padding: 20px 20px 0 20px;
}
.homepage-principal-search h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}
.homepage-principal-search h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-top: 12px;
}

.homepage-principal-search-form {
  margin-top: 20px;
  display: flex;
}
.homepage-principal-search-form .bar {
  align-items: center;
  background: var(--primary-text-color);
  border-radius: 16px;
  border: none;
  display: flex;
  height: 60px;
  overflow: hidden;
}
.homepage-principal-search-form .firstpart-bar {
  display: flex;
  padding: 10px 0;
}
.firstpart-bar input {
  border: none;
  outline: none;
  padding: 5px;
  position: relative;
  text-align: center;
}
.firstpart-bar select {
  background-color: var(--primary-text-color);
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  outline: none;
  opacity: 0.5;
  padding: 5px;
  margin-right: 20px;
  text-align: start;
}
.homepage-principal-search-form .secondpart-bar {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.homepage-principal-search-form .secondpart-bar button {
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  padding: 10px 20px;
}
.secondpart-bar button img {
  height: 15px;
  padding: 0;
  margin: 0;
  width: 15px;
}

.homepage-principal-search-stats {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  width: 100%;
}
.homepage-principal-search-stats ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  min-width: 500px;
  justify-content: space-between;
  align-items: center;
}
.homepage-principal-search-stats .circle {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-principal-search-stats li {
  display: flex;
  align-items: center;
}
.homepage-principal-search-stats .stats-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.homepage-principal-search-stats .stats-info h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}
.homepage-principal-search-stats .stats-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.homepage-principal-companies {
  background-color: var(--primary-bg-color);
  box-sizing: border-box;
  bottom: 0;
  padding: 20px 72px;
  position: absolute;
  width: 100%;
}

.homepage-principal-companies ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* ------------Recent Jobs----------------- */
.homepage-recent-jobs {
  display: flex;
  flex-direction: column;
  grid-area: homepage-recent-jobs;
  padding: 30px 72px;
}
.homepage-recent-jobs-head {
  position: relative;
}
.homepage-recent-jobs-head h1 {
  font-size: 50px;
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: 600;
  padding: 0 0 20px 0;
}
.homepage-recent-jobs-head p {
  font-size: 16px;
  color: var(--secondary-text-color);
  padding: 0;
  margin: 0;
}
.homepage-recent-jobs-head a {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--primary-color);
  font-size: 24px;
}
.cardlist {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-job {
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 35px;
}
.card-job .first-row {
  display: flex;
  justify-content: space-between;
}
.first-row .cover {
  display: flex;
  background-color: rgba(48, 150, 137, 0.1);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 0 5px;
  margin: 0;
  align-items: center;
}
.first-row .cover p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.card-job .second-row {
  display: flex;
  padding: 10px 0;
}
.second-row .companyinfo {
  padding-left: 20px;
}
.companyinfo h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 600;
}
.companyinfo p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.card-job .third-row {
  display: flex;
  justify-content: space-between;
}
.third-row ul {
  display: flex;
  list-style: none;
  padding: 15px 0;
}
.third-row ul li {
  display: flex;
  align-items: center;
  text-align: center;
}
.third-row ul li img {
  width: 17px;
  height: 17px;
}
.third-row ul li p {
  margin: 0;
  padding: 0 15px;
  font-size: 14px;
  opacity: 0.5;
}
.third-row button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
}

/* -----------------Homepage Categories----------------- */
.homepage-categories {
  background-color: var(--background-primary);
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: homepage-categories;

  padding: 50px 72px;
}
.homepage-categories header {
  align-items: center;
  text-align: center;
}
.homepage-categories header h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.homepage-categories header p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.homepage-categories ul {
  align-items: stretch;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.homepage-categories li {
  flex: 1;
  display: flex;
}

.homepage-categories a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
}

.homepage-categories .categorycard {
  background-color: var(--primary-text-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.categorycard .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 30px 50px;
  padding: 0;
}

.categorycard img {
  height: 40px;
  width: 40px;
}

.categorycard h3 {
  color: var(--secondary-text-color);
  font-size: 20px;
  margin: 0;
  padding: 30px 0;
}

.categorycard .jobcover {
  background-color: var(--background-primary);
  border-radius: 8px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.jobcover p {
  color: var(--primary-color);
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

/*----------------additional-content----------------- */
.homepage-additional-content {
  display: flex;
  grid-area: homepage-additional-content;
  flex-direction: column;
  padding: 120px 72px;
}
.homepage-additional-content-principal {
  padding: 0 0 80px 0;
  display: flex;
}
.homepage-additional-content-principal .information {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 86px;
}
.information h1 {
  color: var(--secondary-text-color);
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.information p {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.information ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
.information ul button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  font-weight: 600;
  padding: 10px;
  margin-right: 15px;
}
.information ul a {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}
.homepage-additional-content-stats ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 0 0 60px 0;
}
.homepage-additional-content-stats li {
  max-width: 300px;
}
.homepage-additional-content-stats li h2 {
  color: var(--primary-color);
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.homepage-additional-content-stats h3 {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
}
.homepage-additional-content-stats p {
  color: var(--secondary-text-color);
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.bannerBackground {
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
.banner-info {
  margin: 0;
  padding: 85px 0 0 65px;
  color: var(--primary-text-color);
}
.banner-info h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.banner-info p {
  font-size: 12px;
  padding: 20px 0;
}
.banner-info button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  font-weight: 600;
  padding: 10px 15px;
}
.banner-image img {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
/*--------------------------Testimonials---------------------------*/
.homepage-testimonials {
  align-items: center;
  background-color: var(--background-primary);
  grid-area: homepage-testimonials;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 52px 72px;
}
.homepage-testimonials header {
  padding: 0;
  margin: 0;
}

.homepage-news-blog {
  grid-area: homepage-news-blog;
  display: none;
}

/* ----------------------Mobile------------------------------------- */

@media (max-width: 760px) {
  /* header */
  .header {
    justify-content: space-between;
  }
  .header-logo #logo-desktop {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-logo #logo-mobile {
    display: flex;
    align-items: center;
  }

  /* footer */
  .footer {
    padding: 50px 30px 30px 30px;
  }
  .footer .footer-up {
    flex-direction: column;
    text-align: center;
  }
  .footer-job ul {
    justify-content: center;
  }
  .footer .footer-down {
    flex-direction: column;
  }
  .footer-newsletter {
    max-width: none;
  }
  .footer-company,
  .footer-categories,
  .footer-newsletter {
    padding-top: 20px;
  }
}
